@media screen and (max-width:360px){
    /* PENGATURAN NAVIGASI KANAN */

.main{
    position: absolute; 
    width:80%; 
    top: 30px;
    border: 3px solid blue;
    right: 0px;
}
/* MINIMALISASI NAVIGASI */
.dropdown .drop-content a{
    display: block;
    text-align: right;
}
.dropdown .dropbtn{
    float:right;
}
.dropdown .drop-content{
    background-color: aqua;
    float: right;
}

}
